<style>
    .badge:hover {
        background-color: orangered;
        cursor: pointer;
    }
    .button-option {
        align: right;
    }
    [hidden] {
        display: none;
    }
    .ng-valid[required] {
      border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid:not(form) {
      border-left: 5px solid orange; /* orange */
    }
</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-list"></i> Event List &nbsp;</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <h1 for="event">Add Event</h1>
            <!-- <div class="form-group">
                -->
            <form (submit)="addEvent()" (upload)="upload()" #eventForm="ngForm">
                <p class="form-inline">
                        <label>Name:
                           <div layout="row" layout-align="center" class="col-md-12">
                                <input required [(ngModel)]="event.name" id="event" name="eventName" type="text" class="form-control" size="50">
                            </div>
                         </label>
                         <label>Number of guests:
                             <div layout="row" layout-align="center" class="col-md-12">
                                 <input required [(ngModel)]="event.numberofseats" id="event" name="numseats" type="text" class="form-control" size="50">
                             </div>
                         </label>
                         <label>Tags:
                             <div layout="column" layout-align="center" class="col-md-12">
                                 <input required [(ngModel)]="event.tags" id="event" name="tags" type="text" class="form-control" size="50">
                             </div>
                         </label>
                         <label>Description:
                             <div layout="column" layout-align="center" class="col-md-12">
                                 <input required [(ngModel)]="event.description" id="event" name="desc" type="text" class="form-control" size="50">
                             </div>
                         </label>
                         <label>Event Address:
                             <div layout="column" layout-align="center" class="col-md-12">
                                 <input required [(ngModel)]="event.address" id="event" name="address" type="text" class="form-control" size="50">
                             </div>
                         </label>
                         <label>Selection:
                             <div layout="column" layout-align="center" class="col-md-12">
                                 <input required [(ngModel)]="event.selection" id="event" name="selection" type="text" class="form-control" size="50">
                             </div>
                         </label>
                         <label>Price per person:
                             <div layout="column" layout-align="center" class="col-md-12">
                                 <input required [(ngModel)]="event.priceperperson" id="event" name="price" type="text" class="form-control" size="50" >
                             </div>
                         </label>

                         <label>Meal Picture:
                             <div layout="column" layout-align="center" class="col-md-12">
                                 <input required [(ngModel)]="event.picture" id="event" name="picture" type="text" class="form-control" size="50">
                                 <!-- <button type="upload" class="btn btn-primary" float="right">Upload</button> -->
                             </div>
                         </label>
                         <div class=".button-option">
                            <button type="submit" class="btn btn-primary" style="float: right;">Add</button>
                            </div>
                            <div layout="column" layout-align="center" class="col-md-12">
                         </div>
                        <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
                 </form>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
             <ul class="list-group">
                 <li *ngFor="let ind of events; "class="list-group-item">

                         <img width="100" height="100" src={{ind.picture}} style="float: center;">
                         <h3>{{ind.name}}</h3> On {{ind.date | date: 'dd'}}/{{ind.date | date:'MM'}}/{{ind.date | date: 'yyyy'}}
                         <p style="text-indent: 5em" ></p>
                         {{ind.numberofseats}} Seats available!
                         <img width="20" height="20" src={{ind.tags}}>
                        <button (click) = "attendEvent(ind)" class="btn btn-primary" style="float: right;">Attend</button>
                 </li>
                 </ul>
             </div>
         </div>
   </div>
 </div>
